<!--

the servers.component.html can be edited to remove the
templateUrl property, and use a template property to generate
inline html like the following. This can be used for small 
snippets of code, but tempateUrl is recommended.
The name is true for styleUrls as well, with styles property.
Both use an array for items

Selector can be used to select element div, attributes [href], classes .class, etc.
Similar to the css selector methods. Selecting by ID will not work.

@Component({
	selector: app-element
	selector: [app-attribute]
	selector: .app-class
	...
	template: `
	<app-server></app-server>
	<app-server></app-server>
	`,
	...
	styles: [
		h3 {
			color: blue;
		}
	]
})
-->
<app-server *ngFor="let server of servers"></app-server>
<br/>
<br/>
<h4>Testing Property Binding and Two-Way Data Binding</h4>
<label>Server Name:</label>
<input type="text" class="form-control" [(ngModel)]="serverName"> <!-- (input)="onUpdateServerName($event)" -->
<!-- <p>{{ serverName }}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- General rule, add only small amounts of logic on inline code, 
	larger amounts of logic should be handled by a called method -->
<!-- <p [innerText]="severCreationStatus"></p> -->
<p *ngIf="serverCreated; else noServer;">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
	<p>No server was created.</p>
</ng-template>
<!-- Don't mix property binding with string interpolation,
	[disabled]="!allowNewServer" is a TypeScript expression 
-->

<br/>
<br/>