    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="https://creativerodriguez.com/services">Contact Creative Rodriguez, LLC <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Angular 4 Demo Application</h3>
      </div>

      <div class="jumbotron text-center">
        <h1 class="display-3"> Welcome to {{title}}!</h1>
		  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
            <h4>Testing Data Binding</h4>
			<!-- Using [(ngModel)] causes an error 
			in app.module.ts, on line 3, add <import { FormsModule } from '@angular/forms';> inside the <imports array, under BrowserModule, add `FormsModule>﻿
			Databinding from Form elements will then work properly
			
			property name = ''; was added to the app.component.ts to the AppComponent class
			-->
			<input type="text" [(ngModel)]="name">
			<p>{{name}}</p>
			<hr>
			<app-servers></app-servers>
        </div>

        <div class="col-lg-6">
          <h4>Here are some links to help you start: </h4>
			<ul>
			  <li>
			    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
			  </li>
			  <li>
			    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
			  </li>
			  <li>
			    <h2><a target="_blank" href="https://blog.angular.io/">Angular blog</a></h2>
			  </li>
			</ul>


          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Creative Rodriguez, LLC 2017</p>
      </footer>

    </div>